body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f2ef;
}

.container {
    display: flex;
    align-items: stretch; /* Sidebar na pełną wysokość treści */
}

.sidebar {
    width: 230px;
    background-color: #2f5d50;
    padding: 20px;
    border-right: 4px solid #1b3a33;

    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar a {
    display: block;
    margin: 12px 0;
    text-decoration: none;
    color: #dbede9;
    font-weight: bold;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #a8e6cf;
}


.content {
    padding: 25px;
    flex: 1;
    color: #1b3a33;
}

/* H3 ma ten sam kolor i wielkość co H2 */
h1, h2, h3 {
    color: #2f5d50;
    text-align: center;
}

h2, h3 {
    font-size: 2em; /* Zrównanie wielkości */
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-size: 3em; /* Zrównanie wielkości */
    margin-top: 20px;
    
}

p {
    font-size: 20px;
}

#wykresy {
    display: flex;
    flex-wrap: wrap;
}

#wykresy img {
    /* Usunięto width/max-width, aby nie zmieniać rozmiaru zdjęć */
    height: auto;
    border-radius: 10px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.wykresy-box {
    display: flex;
    gap: 20px;
}

.male {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Zdjęcia ogólne i w kontenerach male/duzy 
   (bez wymuszania szerokości) */
img, .male img, .duzy img {
    border-radius: 12px;
    margin: 15px 0;
}

/* 🔥 sekcja główna z obrazem */
.hero {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #f1f8f4;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

/* obraz */
.hero img {
    width: 500px;
    border-radius: 15px;
}

/* tekst */
.hero-text h1 {
    margin: 0;
    color:#2f5d50;
}

.hero-text p {
    color: #0EB07C;
    font-size: 18px;
}

.wynik {
    font-weight: bold;
    color: #0EB07C;
    font-size: 1.4em;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f1f8f4;
    border-left: 5px solid #0EB07C;
    border-right: 5px solid #0EB07C;
    border-radius: 8px;
    text-align: center;
}

.btn {
    display: block;     
    margin: 0 auto;     
    padding: 18px 30px;
    background-color: #0EB07C;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0c8f64;
    transform: scale(1.05);
}

.film {
    gap: 30px;
    background-color: #f1f8f4;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.wykres{
    gap: 30px;
    background-color: #f1f8f4;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    text-align: center;
}